/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { /* max-width: 1920px; */ line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }
	
/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }

body { 
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color:#ffeddb;
}

h1 {
    color:#e3b7a0;
    font-size: 73px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 15px;
    line-height: 1.2;
}

h2 {
    color:#edcdbb;
    font-size: 45px;
    letter-spacing: 6px;
    margin-bottom: 40px;
    line-height: 1.2;
}

h3 {
    color: #edcdbb;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    color: #edcdbb;
    font-size: 20px;
    margin-bottom: 16px;
}

/* Images */
img { 
    margin-bottom: 50px
}

.fitting-image {
    width: 600px;
    height: 400px;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }